<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/simple-grid.css">
    <style type="text/css" media="all">
.border {
  border: dotted 1px gray;
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-3" >
          <div class="border">
            <p>Here goes icon</p>
          </div>
          <div class="border">
            <nav>
              <p><a href="/devices">DeviceList</a></p>
              <p><a href="/devices?filter=segregated">Segregated</a></p>
              <p><a href="/devices">DevOffice &rarr;</a></p>
            </nav>
          </div>
        </div>
        <div class="col-9">
          <div class="col-8"> </div>
          <div class="col-4">
            <div class="border">
              <p><label>
                <form action="/devices/" method="get" onSubmit="this.action='/devices/'+this.serial_number.value;">
                  Device
                  <input type="text" name="serial_number" id="" value="" />
                </form>
              </label></p>
            </div>
          </div>
          <div class="col-12">
            <div class="border">
              <div class="">
                <h2>Overview</h2>
                <div id="overview-widget-root">
                </div>
              </div>
              <div class="">
                <h2>Segregated Devices</h2>
                <div id="segregated-widget-root">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/overviewwidget-bundle.js"></script>
  <script src="/segregatedwidget-bundle.js"></script>
</html>
