<!DOCTYPE html>
<html>
  <head>
    <!-- Google Fonts -->
    <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">-->
    <!-- CSS Reset -->
    <!--<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">-->
    <!-- Milligram CSS minified -->
    <!--<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">-->
    <link rel="stylesheet" href="/css/simple-grid.css">
  </head>
  <body class="container">
    <div class="row">
      <div class="col-9">
        <nav style="padding:10px">
          <a href="/devices">LIST</a>
          <a href="/devices/new">ADD</a>
          <a href="/devices/show">SHOW(LAB)</a>
          <a href="/devices/show_log">SHOW(Device Logs)</a>
        </nav>
      </div>
      <div class="col-3">
        <nav>
          <a href="/dashboard">&larr; Dashboard</a>
        </nav>
      </div>
    </div>
    <h1>Device</h1>
    <div id='root'></div>
  </body>
  <script src="/device-bundle.js"></script>
</html>
